<%= form_for(@message) do |f| %>
  <% if @message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
      <% @message.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <div class="to_field">
    To:
    <% for user in User.all %>
      <%= check_box_tag "message[user_ids_to][]", user.id, false %>
      <%= user.name %>
    <% end %>
  </div>
  <div class="tiny_mce_controls">
    Tiny MCE controls go here ..... . ............................... ............ ..............
  </div>
  <div class="content_field">
    <%= f.text_area :content, :class => 'tinymce' %>
    <br>
    <%= f.submit %>
  </div>
<% end %>