<li id="message_li_<%= message._id.to_s %>" class="<%= message.hidden %>message_li">
  <div class="message">
    <div id="reply_form_<%= message._id.to_s %>" class="reply_form">
      <%= form_tag(reply_path, :id => params[:id], :remote => true) do %>
        <%= hidden_field_tag 'conversation_id', params[:id] %>
        <div class="field">
          <%= text_area_tag :content %>
        </div>
        <div class="actions">
          <a href="#" onclick="$('#reply_form_<%= message._id.to_s %>').toggle('fast');">cancel</a>
          <%= submit_tag 'Send' %>
        </div>
      <% end %>
    </div>
    <div class="message_header">
      <div class="star">
        <img src="assets/messaging_<%= message.starred %>.png" onclick="starIt('<%= message._id.to_s %>');" alt="<%= message.starred %>">
      </div>
      <div class='conversation_name_list' onclick="$('#message_content_<%= message._id.to_s %>').toggle();">
        <%= @conversation.message_to_list(message) %>
        <div class='conversation_time'>
          <div class="time"><%= distance_of_time_in_words(Time.now, message.created_at) %> &nbsp; &nbsp;</div>
          <div class="reply"><img src="/assets/messaging_reply.png" style="vertical-align:middle;" onclick="$('#reply_form_<%= message._id.to_s %>').toggle('fast');"></div>
        </div>
      </div>
    </div>
    <div id="message_content_<%= message._id.to_s %>" class="message_content <%= message.hide_starred(params[:starred]) %>">
      <%= message.content.gsub("\n", '<br>').html_safe %>
      <br><br>
      <% if message.hidden? %>
        <%= link_to 'Unhide', message, method: :delete, remote: :true, :id => 'hide_link_' + message._id.to_s %>
      <% else %>
        <%= link_to 'Hide', message, confirm: 'Are you sure?', method: :delete, remote: :true, :id => 'hide_link_' + message._id.to_s %>
      <% end %>
    </div>
  </div>
</li>