<h1>Listing messages</h1>

<table>
  <tr>
    <th>Type</th>
    <th>User</th>
    <th>Full name</th>
    <th>Content</th>
    <th>Starred for</th>
    <th>Hidden for</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @messages.each do |message| %>
  <tr>
    <td><%= message.type %></td>
    <td><%= message.user_id %></td>
    <td><%= message.full_name %></td>
    <td><%= message.content %></td>
    <td><%= message.starred_for %></td>
    <td><%= message.hidden_for %></td>
    <td><%= link_to 'Show', message %></td>
    <td><%= link_to 'Edit', edit_message_path(message) %></td>
    <td><%= link_to 'Destroy', message, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Message', new_message_path %>
