<%= form_for(@conversation) do |f| %>
  <% if @conversation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@conversation.errors.count, "error") %> prohibited this conversation from being saved:</h2>

      <ul>
      <% @conversation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :users %><br />
    <%= f.text_field :users %>
  </div>
  <div class="field">
    <%= f.label :last_message %><br />
    <%= f.text_field :last_message %>
  </div>
  <div class="field">
    <%= f.label :last_from_previous_user %><br />
    <%= f.text_field :last_from_previous_user %>
  </div>
  <div class="field">
    <%= f.label :group_id %><br />
    <%= f.number_field :group_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
