<table class="conversation_table">
  <tr>
    <td rowspan=2 class="td_left_nav">
      <div class='message_left_nav'>
        <a href="/conversations"><img src="/assets/messaging_inbox.png" style="vertical-align:middle;"></a>
        <br><br>
        <a href="/conversations?starred=true"><img src="/assets/messaging_star.png" style="vertical-align:middle;"></a>
        <br><br>
        <a href="/conversations?deleted=true"><img src="/assets/messaging_trash.png" style="vertical-align:middle;" onclick="loadNewMessageForm('<%= new_message_path %>');"></a>
        <br><br>
        <img src="/assets/messaging_search.png" style="vertical-align:middle;" onclick="loadNewMessageForm('<%= new_message_path %>');">
      </div>
    </td>
    <td class="td_left_top">
      Conversations
      <div class="left_top_nav">
        <img src="/assets/messaging_compose.png" style="vertical-align:middle;" onclick="loadNewMessageForm('<%= new_message_path %>');">
        <% if params[:deleted] == 'true' %>
          <img src="/assets/messaging_undelete.png" style="vertical-align:middle;" onclick="unDeleteConversation();">
        <% else %>
          <img src="/assets/messaging_delete.png" style="vertical-align:middle;" onclick="deleteConversation();">
        <% end %>
      </div>
    </td>
    <td class="td_middle_top">
      <form action="/conversations" method="get" class="search_form">
        <input type="text" name="search">
        <input type="submit" value="Search">
      </form>
      <div class='utility_icons'>
        <img src="assets/messaging_hidden.png" id="hidden_message" alt="Show Hidden Messages">
        <img src="assets/messaging_expand.png" id="expand_messages">
        <img src="assets/messaging_collapse.png" id="collapse_messages">
      </div>
    </td>
  </tr>
  <tr>
    <td class="td_left">
      <div class='conversation_container'>
        <ul>
          <% @conversations.each do |conversation| %>
          <%
            last_message = JSON.parse(conversation.last_message.to_json) unless !conversation.last_message
            last_message_user_id = last_message['user_id'] unless !last_message

            conversation_users = Array.new(conversation.users)
            conversation_users.delete(CURRENT_USER.to_s)

            if last_message_user_id == CURRENT_USER.to_s
              last_message = JSON.parse(conversation.last_from_previous_user.to_json) unless !conversation.last_from_previous_user
            end

            if last_message
              conversation_users.delete(last_message['user_id'])
            end

            conversation_names = Array.new
            conversation_names << User.find(last_message['user_id']).name.split(' ')[0] unless last_message['user_id'] == CURRENT_USER.to_s
            conversation_users.each { |user_id| conversation_names << User.find(user_id).name.split(' ')[0] }
            conversation_names << 'me'
          %>
          <li class='not_selected' id='conversation_li_<%= conversation._id.to_s %>' onclick="loadConversationThread('<%= message_path(conversation) %>', '<%= conversation._id.to_s %>', '<%= params[:starred] %>');">
            <div id="<%= conversation._id.to_s %>li_shadow_1">
            <div id="<%= conversation._id.to_s %>li_shadow_2">
            <div id="<%= conversation._id.to_s %>li_background">
              <span class='conversation_name_list'><%= conversation_names.join(', ') %></span>
              <span class='conversation_time'><%= distance_of_time_in_words(Time.now, last_message['created_at']) %></span>
              <br><%= last_message['content'][0..140] + ((last_message['content'].length > 140) ? '...' : '') %>
            </div>
            </div>
            </div>
          </li>
          <% end %>
        </ul>
      </div>
    </td>
    <td class="td_right">
      <div class='conversation_thread'>
      </div>
    </td>
  </tr>
</table>