<table class="conversation_table">
  <tr>
    <td rowspan=2 class="td_main_nav">
      <div class='main_nav_icons'>
        <a href="/conversations"><img src="/assets/messaging_inbox.png" style="vertical-align:middle;"></a>
        <br><br>
        <a href="/conversations?starred=true"><img src="/assets/messaging_star.png" style="vertical-align:middle;"></a>
        <br><br>
        <a href="/conversations?deleted=true"><img src="/assets/messaging_trash.png" style="vertical-align:middle;" onclick="loadNewMessageForm('<%= new_message_path %>');"></a>
      </div>
    </td>
    <td class="td_conversation_pane_nav">
      <form action="/conversations" method="get" class="search_form">
        <input type="text" name="search" id="search_box">
      </form>
      <div class="conversation_pane_nav_icons">
        <img src="/assets/messaging_compose.png" onclick="loadNewMessageForm('<%= new_message_path %>');">
        <% if params[:deleted] == 'true' %>
          <img src="/assets/messaging_undelete.png" onclick="unDeleteConversation();">
        <% else %>
          <img src="/assets/messaging_delete.png" onclick="deleteConversation();">
        <% end %>
      </div>
    </td>
    <td class="td_conversation_thread_top">
      <img src="assets/messaging_hidden.png" id="hidden_message" alt="Show Hidden Messages">
      <img src="assets/messaging_expand.png" id="expand_messages">
      <img src="assets/messaging_collapse.png" id="collapse_messages">
    </td>
  </tr>
  <tr>
    <td class="td_conversation_list">
      <div class='conversation_container'>
        <ul>
          <% @conversations.each do |conversation| %>
          <li class='not_selected' id='conversation_li_<%= conversation._id.to_s %>'
            onclick="loadConversationThread('<%= message_path(conversation) %>', '<%= conversation._id.to_s %>', '<%= params[:starred] %>', <%= array_or_string_for_javascript(@message_ids) %>, '<%= params[:search] %>');">
            <div id="<%= conversation._id.to_s %>li_shadow_1">
            <div id="<%= conversation._id.to_s %>li_shadow_2">
            <div id="<%= conversation._id.to_s %>li_background">
              <span class='conversation_name_list'><%= conversation.to_list.join(', ') %></span>
              <span class='conversation_time'><%= distance_of_time_in_words(Time.now, conversation.list_display_message['created_at']) %></span>
              <br><%= conversation.list_display_message['content'][0..80] + ((conversation.list_display_message['content'].length > 80) ? '...' : '') %>
            </div>
            </div>
            </div>
          </li>
          <% end %>
        </ul>
      </div>
    </td>
    <td class="td_conversation_thread">
      <div class='conversation_thread'>
      </div>
    </td>
  </tr>
</table>