<p id="notice"><%= notice %></p>

<p>
  <b>Users:</b>
  <%= @conversation.users %>
</p>

<p>
  <b>Last message:</b>
  <%= @conversation.last_message %>
</p>

<p>
  <b>Last from previous user:</b>
  <%= @conversation.last_from_previous_user %>
</p>

<p>
  <b>Group:</b>
  <%= @conversation.group_id %>
</p>


<%= link_to 'Edit', edit_conversation_path(@conversation) %> |
<%= link_to 'Back', conversations_path %>
